@mixin centratura {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

@mixin ulNavFlex {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
