header {
  width: 100%;
  height: 100px;
  background-color: $bg_primary;

  section#header-nav-top {

    nav.centratura {
      justify-content: flex-end;

      div.header-nav-top-right{
        width: 35%;

        ul {
          @include ulNavFlex;

          li {
            i {
              font-size: 13px;
              margin-right: 10px;
              color: blue;
            }
            a {
              font-size: 13px;
              color: $cl_tertiary;
              font-weight: 300;
            }

            a:hover {
              color: $cl_primary;
              text-decoration: underline;
            }
            select {
              width: 75px;
            }
          }
        }
      }
    }

  }

  section#header-nav-bottom {
    nav.centratura {
      justify-content: flex-start;

      div.header-nav-bottom-left {
        width: 8%;
        height: 50px;
        display: flex;
        align-items: center;
        a {

          img {
            width: 90px;
          }
        }
      }
      div.header-nav-bottom-right {
        width: 82%;

        & > ul {
          @include ulNavFlex;

          & > li {
            @include ulNavFlex;

            a {
              padding-left: 22px;
              padding-right: 22px;
              font-size: 15px;
              color: $cl_primary;
              font-weight: 300;

              i {
                margin-left: 3px;
                font-size: 10px;
                color: $cl_tertiary;
              }
            }
          }
          li.parent-dropdown{
            position: relative;

            div.dropdown {
              position: absolute;
              top: 50px;
              left: 0;
              z-index: 79;
              width: 230px;
              background-color: $bg_secondary;
              display: none;

              ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                li.dropdown-link {
                  @include ulNavFlex;
                  padding: 10px;
                  cursor: pointer;

                  a {
                    font-size: 15px;
                    color: $cl_secondary;
                    padding: 8px;
                    font-weight: 300;
                  }

                  i {
                    font-size: 12px;
                    color: $cl_tertiary;
                  }
                }

                li.dropdown-link:hover {
                  background-color: lightgrey;
                  li.parent-dropdown {
                    background-color: $bg_primary;
                  }
                }
              }
            }
          }
          li.parent-dropdown:hover {
            background-color: $bg_secondary;
            a {
              color:$cl_secondary;
            }
            .dropdown {
              display: block;
            }
          }
        }
      }
    }
  }
}
