main {
  section#painting-software {
    background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg);
    background-size: cover;
    div.centratura{
      @include flexColumn;

      div.titolo {
        color: $cl_primary;

        a {
          @include flexCenter;
          font-weight: 300;

          div.cerchio {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            border: solid 3px $cl_tertiary;
            margin-right: 20px;
            @include flexCenter;

            i {
              font-size: 20px;
              color: $cl_tertiary;
            }
          }
          span {
            font-size: 18px;
            color: $cl_primary;
          }
        }
      }
      div.video {
        margin-top: 70px;
        position: relative;
        height: 559px;

        img {
          height: 559px;
        }

        img.img-cornice {
          position: absolute;
          top: -10px;;
          left: 0;
          height: 569px;
        }
        div.play-contenitore {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 559px;
          @include flexCenter;

          div.play {
            width: 120px;
            height:120px;
            border-radius: 50%;
            border: solid 3px $cl_primary;
            @include flexCenter;
            cursor:pointer;

            i {
              font-size: 50px;
              color: $cl_primary;
            }
          }
        }

      }
      div.video:hover {
        div.play-contenitore {
          div.play {
            border-color: $cl_tertiary;
            i {
              color: $cl_tertiary;
            }
          }
        }
      }
    }

  }
}
